@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scrollbar-width: none;
}

:root{
    --white: #fff;
    --light: #9290C3;
    --semi-light: #535C91;
    --dark: #1B1A55;
    --darker: #070F2B;
}

.container{
    display: flex;
}

.side-navigation{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width:250px;
    background-color: var(--darker);
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}


/* .side-navigation:hover{
    width: 250px;
}
 */

.side-logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.5s ease;
    padding: 1rem 10px;
}

.side-logo .logo-icon{
    font-size: 1.1rem;
    color: var(--white);
    transition: all 0.5s ease;
    cursor: pointer;
}

#btn_nav{
    position: absolute;
    top: 23px;
    right: 25px;
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
}

.side-logo .logo-name{
    color: var(--white);
    font-size: 1.1rem;
    transition: all 0.5s ease;
    font-weight: 600;
}

.navigations{
    margin-top: 3rem;
    height: 100%;
}

.navigations li{
    margin: 12px 0;
    list-style: none;
    
}

.toolTip{
    position: absolute;
    top: -20px;
    left: 70px;
    padding: 7px 15px;
    background-color: rgba(255, 255, 255, 0.7);
    background-color: rgba(146, 144, 195, 0.7);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
    color: var(--darker);
    border-radius: 7px;
    text-transform: capitalize;
    font-size: 0.9rem;
    opacity: 0;
    transition: all ease 0.5s;
}

.navigations li:hover .toolTip{
    top: 5px;
    opacity: 1;
}

.toolTip{
    display: none;
}


.navigations li a{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    border-radius: 7px;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--white);
    transition: 0.5s ease all;
    cursor: pointer;
}

.navigations li a i{
    font-size: 1.3rem;
}

.navigations li a span{
    font-size: 1rem;
    font-weight: 400;
    transition: 0.2s ease;
}

.dropdown-content{
    background-color: var(--dark);
    height: 120px;
    text-align: center;
    display: none;
    position: relative;
    transition: all 0.3s ease;
    border-radius: 5px;
}


.open-dropdown{
    display: block;
    height: 10%;
    transition: 0.2s ease;
}



.navigations li a:hover{
    background-color: var(--white);
    color: var(--darker);
}

.navigations li .active{
    background-color: var(--white);
    color: var(--darker);
}
.link-user{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 15px;
}

.main-content{
    min-width: 100%;
    position: relative;
    top: 0;
    left: 250px;  
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    padding: 1.2rem 2rem;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white);
}

.header-title{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header-title span{
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}

.header-title i{
    font-size: 1.3rem;
}

#datetime{
    position: absolute;
    right: 20%;
    font-size: 0.8rem;
}
.section-content{
    width: 100%;
}


.event-container{
    padding: 3rem 2rem;
    width: 85%;
}

.button-section{
    width: 20%;
}

.add-btn{
    padding: 7px 10px;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    text-decoration: none;
    text-transform: uppercase;
    width: 35%;
    border-radius: 5px;
    color: var(--white);
    text-align: center;
    transition: 0.3s ease;
}

.add-btn span{
    font-size: 0.9rem;
}

.add-btn i{
    font-size: 1.2rem;
}

.add-btn:hover{
    background-color: var(--darker);
}



.event-table-container{
    margin-top: 1.5rem;
    padding: 3rem 2rem;
    background-color: rgba(146, 144, 195, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 10px;
    text-transform: capitalize;
}
th {
    background-color: var(--light);
    color: var(--darker);
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
}

td{
    font-size: 0.9rem;
}

tbody tr:nth-child(odd){
    background: #eeeeee;
}

.action{
    width: 230px;
}

.age, .gender, .status{
    width: 120px;
}

.j-name, .e-name{
    width: 170px;
}

.course-value{
    text-transform: uppercase;
}


.action-td button{
    padding: 5px 10px;
    text-transform: capitalize;
    color: var(--white);
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--darker);
    font-size: 0.9rem;
    font-weight: 500;
}

.action-td .btn-update{
    background-color: var(--white);
    color: var(--darker);
}

.table-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.button-search input{
    padding: 0.6rem 1rem 0.6rem 0.6rem;
    outline: none;
    border: none;
    border-radius: 5px;
}

.input-field{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input-field label{
    font-size: 1rem;
    color: var(--semi-light);
    font-weight: 500;
}

.input-field span{
    font-size: 1rem;
    color: var(--darker);
}




.event-form-container{
   box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
   background-color: rgba(27, 26, 85, 0.8);
   padding: 2rem;
   width: 800px;
   position: absolute;
   top:65%;
   left: 40%;
   transform: translate(-50%, -50%);
   z-index: 2;
   display: none;
   border-radius: 10px;
}

.form-title{
    text-align: center;
    font-size: 1.7rem;
    color: var(--white);
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.fa-x{
    position: absolute;
    top: 20px;
    color: var(--white);
    right: 20px;
    cursor: pointer;
}

.form-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-groups{
    width: 100%;
    display: flex;
    gap: 1rem;
}

.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group input, textarea, select{
    width: 100%;
    padding: 0.6rem 2rem 0.6rem 0.6rem;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

.form-group label{
    text-transform: capitalize;
    font-size: 1rem;
    color: var(--white);
    font-weight: 500;
}

.btn-add{
    padding: 7px 15px;
    border: none;
    outline: none;
    background-color: var(--white);
    color: var(--dark);
    border-radius: 5px;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    top: 9%;
    background-color: rgba(27, 26, 85, 0.5);
    z-index: 1;
    display: none;
}

@media only screen and (max-width: 767px){

    .section-content{
        display: none;
    }

}



@media only screen and (min-width: 1025px) {
    .container{
        display: flex;
    }
    
    .side-navigation{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width:250px;
        background-color: var(--darker);
        padding: 6px 14px;
        z-index: 99;
        transition: all 0.5s ease;
    }
    
    
    /* .side-navigation:hover{
        width: 250px;
    }
     */
    
    .side-logo{
        display: flex;
        align-items: center;
        gap: 1rem;
        transition: all 0.5s ease;
        padding: 1rem 10px;
    }
    
    .side-logo .logo-icon{
        font-size: 1.1rem;
        color: var(--white);
        transition: all 0.5s ease;
        cursor: pointer;
    }
    
    #btn_nav{
        position: absolute;
        top: 23px;
        right: 25px;
        font-size: 1.5rem;
        color: var(--white);
        cursor: pointer;
    }
    
    .side-logo .logo-name{
        color: var(--white);
        font-size: 1.1rem;
        transition: all 0.5s ease;
        font-weight: 600;
    }
    
    .navigations{
        margin-top: 3rem;
        height: 100%;
    }
    
    .navigations li{
        margin: 12px 0;
        list-style: none;
        
    }
    
    .toolTip{
        position: absolute;
        top: -20px;
        left: 70px;
        padding: 7px 15px;
        background-color: rgba(255, 255, 255, 0.7);
        background-color: rgba(146, 144, 195, 0.7);
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
        color: var(--darker);
        border-radius: 7px;
        text-transform: capitalize;
        font-size: 0.9rem;
        opacity: 0;
        transition: all ease 0.5s;
    }
    
    .navigations li:hover .toolTip{
        top: 5px;
        opacity: 1;
    }
    
    .toolTip{
        display: none;
    }
    
    
    .navigations li a{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 10px;
        border-radius: 7px;
        text-transform: capitalize;
        text-decoration: none;
        color: var(--white);
        transition: 0.5s ease all;
        cursor: pointer;
    }
    
    .navigations li a i{
        font-size: 1.3rem;
    }
    
    .navigations li a span{
        font-size: 1rem;
        font-weight: 400;
        transition: 0.2s ease;
    }
    
    .navigations li a:hover{
        background-color: var(--white);
        color: var(--darker);
    }
    
    .navigations li .active{
        background-color: var(--white);
        color: var(--darker);
    }
    .link-user{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0rem 15px;
    }
    
    
}